version: "3.8"

services:
  db:
    image: postgres:latest
    container_name: postgres_lab
    restart: always
    environment:
      POSTGRES_DB: postgres_practice
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
